OrderIntake/Steven Renders_Order Intake_1.0.0.0.app
OrderIntake/app.json
OrderIntake/.alpackages/Microsoft_Application_11.0.20723.0.app
OrderIntake/.alpackages/Microsoft_Application_13.0.24630.0.app
OrderIntake/.alpackages/Microsoft_System_11.0.12927.0.app
OrderIntake/.alpackages/Microsoft_System_13.0.12929.0.app
OrderIntake/.vscode/launch.json
